* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #eee;
  color: #333;
  border: 5px hidden #1c6ea4;
  border-radius: 22px;
  opacity: 0.9;
  font-size: 1.2rem;
}

.popuptitle {
  font-weight: bold;
  font-size: large;
}

.popupsubtitle {
  font-weight: bold;
  font-size: medium;
}

.popuptext {
  font-size: medium;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.toolTipClass {
  max-width: 400px;
}

.tutorial {
  max-width: 35vh;
}

.img {
  display: block;
  width: 100%;
}

.dialog {
  border-style: none;
  border-color: #000;
  position: static;
  left: 10%;
  top: 10%;
}

.image {
  width: 300%;
  border-color: #000;
  border-style: solid;
}

.customMarker {
  background-image: url(/public/circulo_azul.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.customMarker span {
  display: block;
  /* margin-left: 38%; */
  text-align: center;
  margin-top: 15%;
  color: #fff;
  font-size: x-large;
}

.reset-button {
  position: absolute;
  z-index: 2000;
  left: 2%;
  bottom: 4%;
}

.reload {
  font-family: Lucida Sans Unicode;
}
