.mainContainer {
  background-color: #f6f6f6;
  height: 100vh;
  margin: 0;
  max-width: 25vw;
  border-left-width: 0   !important;
  border-top-width: 0    !important;
  border-bottom-width: 0 !important;
}

.mainContainer h1 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.mainContainer hr {
  margin: 0.5rem 0;
}
