.mainContainer {
  /* background-color: #f6f6f6; */
  height: 100vh;
  margin: 0;
  /* width:20rem; */
  max-width: 25vw;
  border-right-width: 0  !important;
  border-left-width: 0   !important;
  border-top-width: 0    !important;
  border-bottom-width: 0 !important;
  background: linear-gradient(180deg, rgb(190, 190, 250) 0%, rgb(220, 230, 255) 60%, rgb(200, 200, 255) 100%);
}

.mainContainer h1 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.mainContainer hr {
  margin: 0.5rem 0;
}

.mainContainer select {
  -webkit-appearance: menulist-button  !important;
  -moz-appearance: menulist-button     !important;
}

div.content {
  background-color: #FFFFFF;
  width: 18rem;
  float: left;
  height: 100%;
}

div.buttonSlide {
  background-color: #FFFFFF;
  height: 1.2rem;
  width: 1.2rem;
  float: left;
  text-align: center;
  cursor: pointer;
}

div.row-padding-top {
  padding-top: 0.5rem;
}

label.in-div {
  opacity: .65;
  transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

div.labeled-content {
  padding-top: 1.0rem;
  padding-bottom: 0rem;
  height: auto;
}
