.mainContainer {
  background-color: #ffffff;
  /* margin: 0; */
  /* width:20rem; */
  max-width: 12vw;
  min-width: 12vw;
  right: 10px;
  position: absolute;
  /* border-right-width: 0 !important; */
  clear: none !important;
  float: right !important;
  top: 5rem;
  /* margin-left: 20px; */
  border-color: rgb(224, 224, 224);
  border-width: 2px;
  border-style: solid;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  font-size: small;
  padding: 1%;
}

.mainContainer h1 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.mainContainer img {
  width: 1.5rem;
  margin: 1px;
}

.mainContainer hr {
  margin: 0.5rem 0;
}

.mainContainer select {
  -webkit-appearance: menulist-button !important;
  -moz-appearance: menulist-button !important;
}

div.content {
  background-color: #ffffff;
  width: 15rem;
  float: right;
  height: 100%;
  margin: 5px;
}

div.buttonSlide {
  background-color: #ffffff;
  height: 1.2rem;
  width: 1.2rem;
  float: right;
  text-align: center;
  cursor: pointer;
}

div.row-padding-top {
  padding-top: 0.5rem;
}

label.in-div {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

div.labeled-content {
  padding-top: 1rem;
  padding-bottom: 0rem;
  height: auto;
}
